

.border-order1 {
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-box-order1 {
    display: flex;
    justify-content: center;
}

.select-date-time {
    margin-top: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-datetime{
    width: 400px;
    height: 100px;
}
.box-datetime label {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.box-datetime input {
    width: 220px;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
}
.box-time{
    width: 400px;
    height: 100px;
}
.box-time label {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* .box-time input {
    width: 220px;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
} */
.box-time {
    width: 400px;
    height: 100px;
}
.box-time label {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.box-time select {
    margin-left: 0px;
    width: 220px;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
}
.box-people {
    width: 400px;
    height: 100px;
}

.box-people label {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.box-people select {
    margin-left: 25px;
    width: 220px;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
}
.box-submit{
    width:400px;
}
.box-submit input {
    margin-top: 10px;
    margin-left: 117px;
    width: 220px;
    height: 50px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    transition: all 0.3s;
}
.box-submit input:hover{
    background-color: green;
    color: white;
    transition: all 0.3s;
}

.box-notification{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    overflow: hidden;
}
.toast{
    margin-top: -2000px;
    position: absolute;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid rgb(216, 179, 15);
    overflow: hidden;
    /* transform: translateX(calc( -5px)); */
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.toast.active{
    transform: translateY(550px);
}

.toast .toast-content{
    display: flex;
    align-items: center;
}
.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: rgb(216, 179, 15);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text-notifi{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}

.message .text-notifi.text-1{
    font-weight: 600;
    color: #333;
}

.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(216, 179, 15);
}

.progress.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}